/*Welcome*/
#welcome {
padding: 90px 140px 120px 140px;
}

#blueText {
color: rgb(124, 169, 211);
}

#redText {
color: rgb(203, 105, 139);
}

.tech-font {
font-family: 'Anonymous Pro', monospace;
}

.landing-title {
padding-top: 10px;
padding-bottom: 10px;
font-size: 55px;
white-space: nowrap;
font-family: 'Montserrat', sans-serif;
}

.landing-subtitle {
font-family: 'Montserrat', sans-serif;
font-weight: 800;
}

.landing-typedText {
padding-top: 20px;
font-family: 'Montserrat', sans-serif;
}

.wave {
font-size: 80px;
padding-right: 10px;
}

.portrait {
height: 310px;
}


/*Quote*/
.quote {
text-align: center;
font-family: 'Caladea', serif;
font-weight: 800;
}

/*About Me*/
#aboutMe {
padding: 65px 0 90px 0;
}

.heading {
padding-bottom: 45px;
font-size: 45px;
text-align: center;
}

#about-text {
margin: auto;
width: 90%;
padding: 20px;
border-style: solid;
border-color: rgb(219, 219, 219);
border-radius: 25px;
font-size: 20px;
}



/*Blog*/
#blog {
margin: 80px 95px 100px 95px;
}

.text {
padding: 5% 5% 5% 5%;
background-color: white;
border-radius: 25px;
border-style: solid;
border-width: 1px;
border-color: #c9c9c9ef;
}

.btnDiv {
text-align: center;
}

#join {
margin-top: 73px;
width: 250px;
height: 60px;
background-color: #E8F4EA;
color: black;
border-radius: 11px;
}

#join:hover {
background-color: rgb(183, 199, 185);
}